<div class="animate__animated animate__fadeIn">
    <h2>Buscar por región <small>{{regionActiva | titlecase}}</small></h2>
    <hr />
           
    <div class="row">
        <div class="col">
            <!-- 
                [class.btn-info]="region === regionActiva"
                 [class.btn-outline-primary]="region !== regionActiva" 
            -->
            <!-- 
                [ngClass]="{
                    'btn-info': region === regionActiva,
                    'btn-outline-primary': region !== regionActiva
                }" 
            -->
            <!-- 
                [class]="(region===regionActiva)? 'btn btn-info me-3' : 'btn btn-outline-primary me-3'"
            -->
            <button 
                *ngFor="let region of regiones" 
                class="btn me-3"
                [class]="getClaseCss(region)"
                (click)="activarRegion(region)"
            >
                {{region}}
            </button>
        </div>
    </div>    
    <hr />
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>